![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Cross Validation

For this lab, we will build a model on customer churn binary classification problem. You will be using `files_for_lab/Customer-Churn.csv` file

In [10]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
churnData = pd.read_csv('files_for_lab/Customer-Churn.csv')

In [5]:
churnData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [6]:
churnData.sample(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
6594,Male,0,No,No,14,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,20.05,299.3,No
3114,Male,0,No,No,5,Yes,No,No,Yes,Yes,Yes,Yes,Month-to-month,75.15,392.65,No
5578,Female,0,Yes,Yes,42,Yes,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,20.00,833.55,No
3988,Male,0,No,No,51,Yes,Yes,Yes,Yes,Yes,Yes,No,One year,81.15,4126.2,No
782,Male,0,Yes,Yes,27,Yes,Yes,Yes,No,No,No,No,Month-to-month,54.75,1510.3,No

In [14]:
churnData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [15]:
churnData.gender.value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [19]:
# Reemplazar 'Male' con 0 y 'Female' con 1 en la columna 'gender'
churnData['gender'] = churnData['gender'].replace({'Male': 0, 'Female': 1})

In [17]:
churnData.Partner.value_counts()

No     3641
Yes    3402
Name: Partner, dtype: int64

In [20]:
# Reemplazar 'No' con 0 y 'Yes' con 1 en la columna 'Partner'
churnData['Partner'] = churnData['Partner'].replace({'No': 0, 'Yes': 1})

In [18]:
churnData.Dependents.value_counts()

No     4933
Yes    2110
Name: Dependents, dtype: int64

In [21]:
# Reemplazar 'No' con 0 y 'Yes' con 1 en la columna 'Dependents'
churnData['Dependents'] = churnData['Dependents'].replace({'No': 0, 'Yes': 1})

In [22]:
churnData.PhoneService.value_counts()

Yes    6361
No      682
Name: PhoneService, dtype: int64

In [23]:
# Reemplazar 'No' con 0 y 'Yes' con 1 en la columna 'PhoneService'
churnData['PhoneService'] = churnData['PhoneService'].replace({'No': 0, 'Yes': 1})

In [24]:
# OnlineSecurity
churnData.OnlineSecurity.value_counts()

No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

In [25]:
# Reemplazar 'No' con 0 y 'Yes' con 1 en la columna 'PhoneService'
churnData['PhoneService'] = churnData['PhoneService'].replace({'No': 0, 'Yes': 1, 'No internet service': 3})

In [26]:
# OnlineBackup
churnData.OnlineBackup.value_counts()

No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

In [27]:
# Reemplazar 'No' con 0 y 'Yes' con 1 en la columna 'PhoneService'
churnData['OnlineBackup'] = churnData['OnlineBackup'].replace({'No': 0, 'Yes': 1, 'No internet service': 3})

In [28]:
# DeviceProtection
churnData.DeviceProtection.value_counts()

No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

In [29]:
# Reemplazar 'No' con 0 y 'Yes' con 1 en la columna 'PhoneService'
churnData['DeviceProtection'] = churnData['DeviceProtection'].replace({'No': 0, 'Yes': 1, 'No internet service': 3})

In [30]:
# Crear un diccionario para almacenar los recuentos de valores únicos por columna
value_counts_dict = {}

# Iterar a través de las columnas del DataFrame
for column in churnData.columns:
    if churnData[column].dtype == 'object':
        # Comprobar si la columna es categórica (tipo 'object')
        value_counts = churnData[column].value_counts()
        value_counts_dict[column] = value_counts

# Imprimir los recuentos de valores únicos para las columnas categóricas
for column, counts in value_counts_dict.items():
    print(f'Columna: {column}')
    print(counts)
    print()

Columna: OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

Columna: TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

Columna: StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

Columna: StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

Columna: Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

Columna: TotalCharges
          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: TotalCharges, Length: 6531, dtype: int64

Columna: Churn
No     5174
Yes    1869
Name: Churn, dtype: int64

In [31]:
# Definir un diccionario de conversion
convert = {'No': 0, 'Yes': 1, 'No internet service': 3}

# Aplicar el mapeo en todo el DataFrame
churnData = churnData.replace(convert)

In [32]:
churnData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   int64
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   int64
 3   Dependents        7043 non-null   int64
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   int64
 6   OnlineSecurity    7043 non-null   int64
 7   OnlineBackup      7043 non-null   int64
 8   DeviceProtection  7043 non-null   int64
 9   TechSupport       7043 non-null   int64
 10  StreamingTV       7043 non-null   int64
 11  StreamingMovies   7043 non-null   int64
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   int64
dtypes: float64(1), int64(13), object(2)
memory usage: 880.5+ KB

In [33]:
churnData.Contract.value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

In [36]:
# Reemplazar 'No' con 0 y 'Yes' con 1 en la columna 'Contract'
churnData['Contract'] = churnData['Contract'].replace({'Month-to-month': 0, 'One year': 1, 'Two year': 3})

In [34]:
churnData.TotalCharges.value_counts()

          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: TotalCharges, Length: 6531, dtype: int64

In [35]:
# Convertimos los valores de la columna TotalCharges en numerica y en caso de que detecte cualquier error automaticamente lo considera un NaN
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'], errors='coerce')

In [37]:
churnData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   int64
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   int64
 3   Dependents        7043 non-null   int64
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   int64
 6   OnlineSecurity    7043 non-null   int64
 7   OnlineBackup      7043 non-null   int64
 8   DeviceProtection  7043 non-null   int64
 9   TechSupport       7043 non-null   int64
 10  StreamingTV       7043 non-null   int64
 11  StreamingMovies   7043 non-null   int64
 12  Contract          7043 non-null   int64
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7032 non-null   float64
 15  Churn             7043 non-null   int64
dtypes: float64(2), int64(14)
memory usage: 880.5 KB

In [40]:
# Observamos el % de nulos en cada columna
nulls_percent_df=pd.DataFrame(churnData.isna().sum()/len(churnData)).reset_index()
nulls_percent_df.columns = ['columns_name', 'nulls_percentage']
nulls_percent_df

        columns_name  nulls_percentage
0             gender          0.000000
1      SeniorCitizen          0.000000
2            Partner          0.000000
3         Dependents          0.000000
4             tenure          0.000000
5       PhoneService          0.000000
6     OnlineSecurity          0.000000
7       OnlineBackup          0.000000
8   DeviceProtection          0.000000
9        TechSupport          0.000000
10       StreamingTV          0.000000
11   StreamingMovies          0.000000
12          Contract          0.000000
13    MonthlyCharges          0.000000
14      TotalCharges          0.001562
15             Churn          0.000000

In [41]:
# Reemplazamos los valores nulos con la media del total de la columna como tiene poco cantidad de nulos no generará ruido en los datos.
mean_total_charges = churnData['TotalCharges'].mean()
churnData['TotalCharges'].fillna(mean_total_charges, inplace=True)

### Instructions

1. Apply SMOTE for upsampling the data

In [42]:
# Extraemos la variable objetivo 
X = churnData.drop('Churn', axis=1)
y = churnData['Churn']

- Use logistic regression to fit the model and compute the accuracy of the model.

In [48]:
# Aplicamos SMOTE para el sobremuestreo de los datos
smote = SMOTE()
X_resampled, y_resampled = smote.fit_resample(X, y)

In [49]:
# Entrenamos y evaluamos el modelo de Regresión Logística
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)
logistic_model = LogisticRegression()
logistic_model.fit(X_train, y_train)
y_pred_logistic = logistic_model.predict(X_test)
accuracy_logistic = accuracy_score(y_test, y_pred_logistic)
print(f'Accuracy (Logistic Regression): {accuracy_logistic}')

Accuracy (Logistic Regression): 0.7985507246376812

- Use decision tree classifier to fit the model and compute the accuracy of the model.

In [50]:
# Entrenamos y evaluamos el modelo de Árbol de Decisión
decision_tree_model = DecisionTreeClassifier()
decision_tree_model.fit(X_train, y_train)
y_pred_tree = decision_tree_model.predict(X_test)
accuracy_tree = accuracy_score(y_test, y_pred_tree)
print(f'Accuracy (Decision Tree): {accuracy_tree}')

Accuracy (Decision Tree): 0.7927536231884058

- Compare the accuracies of the two models.

In [51]:
# Comparamos las precisiones de los dos modelos
if accuracy_logistic > accuracy_tree:
    print('El modelo de Regresión Logística tiene una precisión superior.')
elif accuracy_logistic < accuracy_tree:
    print('El modelo de Árbol de Decisión tiene una precisión superior.')
else:
    print('Ambos modelos tienen la misma precisión.')

El modelo de Regresión Logística tiene una precisión superior.

2. Apply TomekLinks for downsampling

    - It is important to remember that it does not make the two classes equal but only removes the points from the majority class that are close to other points in minority class.
    - Use logistic regression to fit the model and compute the accuracy of the model.
    - Use decision tree classifier to fit the model and compute the accuracy of the model.
    - Compare the accuracies of the two models.
    - You can also apply this algorithm one more time and check the how the imbalance in the two classes changed from the last time.

In [52]:
# Importamos la librería
from imblearn.under_sampling import TomekLinks

# Aplicamos TomekLinks para el undersampling
tomek = TomekLinks()
X_tomek, y_tomek = tomek.fit_resample(X, y)

# Dividimos los datos en conjuntos de entrenamiento y prueba
X_train_tomek, X_test_tomek, y_train_tomek, y_test_tomek = train_test_split(X_tomek, y_tomek, test_size=0.2, random_state=42)

# Entrenamos y evaluamos la Regresión Logística después del undersampling
logistic_model_tomek = LogisticRegression()
logistic_model_tomek.fit(X_train_tomek, y_train_tomek)
y_pred_logistic_tomek = logistic_model_tomek.predict(X_test_tomek)
accuracy_logistic_tomek = accuracy_score(y_test_tomek, y_pred_logistic_tomek)
print(f'Precisión (Regresión Logística con TomekLinks): {accuracy_logistic_tomek}')

# Entrenamos y evaluamos el Árbol de Decisión después del undersampling
decision_tree_model_tomek = DecisionTreeClassifier()
decision_tree_model_tomek.fit(X_train_tomek, y_train_tomek)
y_pred_tree_tomek = decision_tree_model_tomek.predict(X_test_tomek)
accuracy_tree_tomek = accuracy_score(y_test_tomek, y_pred_tree_tomek)
print(f'Precisión (Árbol de Decisión con TomekLinks): {accuracy_tree_tomek}')

Precisión (Regresión Logística con TomekLinks): 0.8132716049382716
Precisión (Árbol de Decisión con TomekLinks): 0.7399691358024691

In [53]:
# Comparamos las precisiones de los dos modelos
if accuracy_logistic_tomek > accuracy_tree_tomek:
    print('El modelo de Regresión Logística tiene una precisión superior.')
elif accuracy_logistic_tomek < accuracy_tree_tomek:
    print('El modelo de Árbol de Decisión tiene una precisión superior.')
else:
    print('Ambos modelos tienen la misma precisión.')

El modelo de Regresión Logística tiene una precisión superior.